<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orange Calc</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favv.png') }}" />
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <form action="/trade" id ="tradeItems" method="POST">
        <textarea name="tradeItems" id="tradeItems" cols="100" rows="30"></textarea>
        <br>
        <input type="submit" value="Calculate">
    </form>

    {% if value %}
        <p>{{ value[0] }}</p>
        <p><a href= {{ value[1] }}  target="_blank">{{ value[1] }}</a></p>
    {% endif %}
    
</body>

</html>